<div class="mx-auto grid grid-cols-12 gap-8 bg-zinc-50 p-1">

  <div class="header col-span-12 rounded-lg border border-gray-100 bg-gray-200 py-8">
    <h1 class="title">Employees</h1>
  </div> 

  <div class="col-span-12">
    <app-modal-search-employee-component (setDataFiltro)="addFilter($event)" (downloadRequested)="getprofileDownload()"></app-modal-search-employee-component>
  </div>

  @if(employee | async; as result){
    <div class="col-span-12">
      <app-table-employee-componentes [dataSource]="result" (sendDataPagination)="addPagination($event)"></app-table-employee-componentes>
    </div>
  }
</div>
